@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s;
  outline: none;
}

*::focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* HEADER SECTION */
.header__section {
  background: #fff59e;
  padding-bottom: 100px;
  position: relative;
}

.header__section header {
  background: #ffffff !important;
}

.header__section .navbar__cont {
  margin-bottom: 40px;
}

/* END HEADER SECTION */

/* NAVBAR BOXES */
.header__box__center {
  position: absolute;
  right: 0;
  top: 50%;
  background: #7371e2;
  border-radius: 120px 0px 0px 0px;
  width: 90px;
  height: 60px;
}

.below__image__box {
  background: #03caca;
  border-radius: 0px 0px 120px 0px;
  width: 80px;
  height: 60px;
  margin-top: 20px;
}

.header__box__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #7371e2;
  border-radius: 0px 120px 0px 0px;
  width: 180px;
  height: 60px;
}

/* END OF NAVBAR BOXES */

/* NAVBAR TOGGLER BUTTON OF MEDIUM AND SMALL SCREEN */
.navbar-toggler {
  border: none !important;
}

.navbar-toggler > span i {
  font-size: 30px;
  color: #03caca;
}

.navbar-toggler:focus {
  outline: none;
  color: #ffffff;
}

/* END OF NAVBAR TOGGLER BUTTON OF MEDIUM AND SMALL SCREEN */

/* NAVBAR LINKS STYLING */
.header__section .navbar .nav-link {
  color: #000000;
  font-weight: bold;
  text-transform: capitalize;
}

.header__section .navbar .nav-link:hover {
  color: initial;
}

.header__section .navbar .nav-item {
  margin-right: 30px;
}

.header__section .navbar .nav-item:last-child {
  margin-right: 0px;
}

.header__section .navbar .join-now {
  background-color: #03caca;
  border-radius: 2px;
  border: none;
  width: 153.19px;
  height: 40px;
  text-align: center;
  line-height: normal;
  outline: none;
}

.header__section .navbar .join-now:focus,
.header__section .navbar .join-now:active {
  outline: none;
}

.header__section .navbar .join-now .nav-link {
  color: #ffffff;
}

.header__section .navbar .join-now:hover {
  background: linear-gradient(0deg, #00a9a9, #00a9a9), #00a9a9;
}

.header__section .navbar .join-now:active {
  background: #007e7e;
}

/* END NAVBAR LINKS STYLING */

/* HEADER HERO TEXT AND IMAGE */
.header__section .hero__text {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-weight: bold;
  line-height: 78px;
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 53px;
}

.header__section .hero__image {
  border-radius: 80px 80px 80px 0px;
  height: 230px;
}

/* END HEADER HERO TEXT AND IMAGE */

.featured__events {
  padding: 50px 0;
  background: #ffffff;
}

.header__text h2 {
  font-family: "Poppins", sans-serif;
  color: #000000;
  border-bottom: 2px solid #03caca;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 30px;
}

.header__text h5 {
  font-family: "Poppins", sans-serif;
  color: #000000;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 20px;
}

.find__events__nav .nav {
  margin-top: 20px;
  margin-bottom: 40px;
}

.find__events__nav .nav .nav-link {
  color: #000000;
  font-weight: 600;
}

.find__events__nav .nav .nav-link.active {
  color: #818181;
}

.find__events__nav .nav .nav-link:hover {
  color: #818181;
}

/* SINGLE EVENT CARD */
.event__card {
  margin: 0 auto;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
  margin-bottom: 35px;
}

.like__button {
  position: absolute;
  right: 25px;
  top: -20px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #7371e2 !important;
  background: #ffffff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  text-transform: none;
}

.event__card__image img {
  width: 100%;
  max-width: 100%;
  height: 187px;
}

.event__card__details {
  width: 100%;
  padding: 20px;
  position: relative;
  background: #f4f4f4;
  border-radius: 0 0 2px 2px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
}

.event__card__details h3 {
  font-weight: 700;
  font-size: 28px;
}

.event__card__details h5 {
  font-weight: 600;
  font-size: 17px;
  color: #818181;
}

.event__card__details p {
  font-size: 15px;
  color: #000000;
  font-weight: 500;
}

/* END SINGLE EVENT CARD */

/* VIEW MORE BUTTON */
.view__more__button a {
  color: #000000;
  border: 1px solid #888888;
  border-radius: 2px;
  padding: 8px 30px;
  width: 166.19px;
  height: 44px;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  background: #ffffff;
  outline: none;
  margin-top: 30px;
}

.view__more__button a:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.view__more__button a:active {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

/* END VIEW MORE BUTTON */

/* FEATURED EVENT CONTAINER */
.featured__event {
  display: flex;
  justify-content: start;
  margin-bottom: 50px;
}

.featured__event .like__button {
  top: 20px;
  right: 20px;
}

.featured__event img {
  width: 65%;
  height: 380px;
}

.featured__event .featured__event__details {
  width: 35%;
  background: #f4f4f4;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
  border-radius: 0px 4px 4px 0px;
  padding: 50px 35px 20px 35px;
  position: relative;
}

.featured__event .featured__event__details h3 {
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  color: #000000;
}

.featured__event .featured__event__details h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #818181;
}

.featured__event .featured__event__details p {
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
}

/* OUR PARTNERS SECTION */
.our__partners {
  margin: 30px auto;
}

.our__partners h3 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 120%;
  text-align: center;
  color: #0e0c15;
}

.our__partners p {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  color: #0e0c15;
  text-align: center;
}

.our__partners .become__a__partner {
  background-color: #03caca;
  border-radius: 4px;
  border: none;
  width: 253.19px;
  height: 45px;
  text-align: center;
  line-height: normal;
  outline: none;
  display: block;
  margin: 0 auto;
  color: #ffffff;
  padding: 10px;
  font-weight: 600;
  text-decoration: none;
}

.our__partners .become__a__partner:hover {
  background: linear-gradient(0deg, #00a9a9, #00a9a9), #00a9a9;
}

.our__partners .become__a__partner:focus {
  background: #007e7e;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 70px;
  height: 70px;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* FOOTER SECTION */
.footer__section {
  margin-top: 80px;
  background: #cacaca;
  padding: 70px 0 80px 0;
  position: relative;
}

.footer__section h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 15px;
}

.footer__section p {
  color: #000000;
  font-size: 16px;
  line-height: 25px;
}

.footer__section .subscribe__box {
  position: relative;
  z-index: 1;
}

.footer__section .subscribe__box input {
  padding: 0.5rem 1.4rem 0.5rem 1.8rem;
  width: 100%;
  height: 45px;
  border-radius: 0;
  background-color: #ffffff;
  border: 1px solid #888888;
  font-size: 16px;
  padding: 0 10px;
  color: #000000;
}

.footer__section .subscribe__box button {
  position: absolute;
  padding: 0 30px;
  border-radius: 0;
  background-color: #03caca;
  font-size: 16px;
  color: #ffffff;
  height: 45px;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
  transition: all 500ms;
  outline: none;
  text-transform: uppercase;
}

.footer__box {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #7371e2;
  border-radius: 120px 0px 0px 0px;
  width: 298px;
  height: 60px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 400px) {
  .header__section .hero__text {
    font-size: 30px;
  }

  .header__section .navbar__cont {
    margin-bottom: 10px;
  }

  .header__section .hero__text {
    padding-top: 5px;
  }
}

@media screen and (max-width: 764px) {
  .header__box__center {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header__section .navbar__cont {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 990px) {
  .header__section .hero__text {
    font-size: 36px;
    line-height: 60px;
  }

  .header__section .navbar .join-now {
    width: 200px;
  }
}

@media screen and (max-width: 1020px) {
  .featured__event {
    flex-direction: column;
  }

  .featured__event img {
    width: 100%;
    height: 300px;
  }

  .featured__event .featured__event__details {
    width: 100%;
    border-radius: 0px 0px 4px 4px;
  }
}

@media screen and (max-width: 1198px) {
  .header__section .hero__text {
    font-size: 36px;
  }
}